/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.container{
    width: 104.5%;
    margin: -7em 1em 0em 0em;
    padding: 0em 2em 0em 0em;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.container .navbar-static-top {
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 2em;
}

#navbar-tint {
  height: 5.5em;
  width:92.5em;
  background-color: grey;
  opacity: 0.2;
  filter: alpha(opacity=50);
  position: relative;
  z-index: 0;
  margin: 0em 0em 0em -2em;
  padding: 0em 0em 0em 7em;
}



.navbar-brand > img{
  padding:0em 8em 0em 0em;
  margin:-4.4em 0em 1em 0em;
  position: relative;
  z-index: 1000;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
  color: #333;
}

/* top contact navbar*/
.navbar {
  margin: -2em 0em 0em 0em;
  padding:0em 0em 0em 0em;


}

.list-inline > li{
  padding:12px 91.5px 2px 40px;
  margin: 1px -4px 2px 0px;
  border-left:1px;
  text-align: center;
  height: 3em;
  border: .3px solid #808080;


}

 a {
  color:black;
}
/*END top contact navbar*/

/* main navbar */
.navbar-nav > li{
  padding:0em 0em 0em 0em;
  margin: -.5em 2em 2em 0em;
  text-align: center;
  height: 7em;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  }

.nav {
  padding:0em 0em 0em 0em;
  margin: -4em 0em 0em 2em;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}

.img-rectangle {
  position: relative;
  z-index:1;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px; /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */
.featurette-heading {
  line-height: 2;
  letter-spacing: 4px;
  font-style: bold;
  font-family:Century Gothic, sans-serif;
  text-align: center;
}

.col-md-7 p.lead {
  font-size: 2em;
}


.col-lg-12 p.lead {
  text-align: center;
}

/* THUMB Nail Slider*/
/* carousel */
.media-carousel
{
  margin:0em 0em 0em 0em;
  padding: 0em 4em 0em 4em;
}

.col-md-12 .carousel{
    height: 25em;


}

/* carousel */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: -3em 0em 0em 0em;
    padding: 0em 2em 0em 0em;

  }

   .carousel .container {
    width: 100%;

}

.carousel-control {
  width:5%;
}

.carousel-control.right {
  margin-right:1.5em;
}

 .carousel {

 }


/* End carousel */

.map img {
  width: 100%;
}
/* contact form */
#main_contact_form > img {
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    z-index:-100;
}

#contact_form {
    width: 500px;
    height: 355px;
    margin: 360px 100px 3px 450px;
    padding: 0px 100px 1px 3px;
    background-color: white;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: 5px;
}

/*END contact form */
.col-xs-4 {
    position: absolute;
    z-index:100;
    margin: 360px 100px 1px 450px;
    padding: 0px 100px 3px 3px;


}
.col-xs-4 > h3{
    text-align: center;
    font-weight: 900;
    color: black;

}

.form-group {
    font-weight: 900;
    color: black;
    font-size: 18px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */




@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 15px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 10px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
